* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: transparent;
    height: 50px;
}

nav ul li {
    display: inline-block;
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.564);
    text-decoration: none;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: rgb(182, 178, 178);
}

/* ------------------------ */

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 150px;
    background: white;
    width: 1010px;
}
th, td {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 15px;
    text-align: center;
}

th {
    background-color: #31aeba;
    color: white;
    border: none;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela h2 {
    margin-top: 40px;
    color: #27868f;
    text-align: center;
}

<<<<<<< HEAD
.exibir-alunos {
=======
.exibir {
>>>>>>> fd3326899ac54a2bc5c3e97cb0c80032e80bdbb0
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.exibir-alunos a {
    padding: 10px 20px;
    background-color: #31aeba;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exibir-alunos a:hover {
    background-color: #27868f;
}

.exibir-alunos .excluir {
    padding: 10px 20px;
    background-color: #c71a1a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exibir-alunos .excluir:hover {
    background-color: #981b1b;
}

=======
#edi{
    background-color:#31aeba;
    margin-right: 15px;
    display: flex;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
}

#exc{
    background-color: rgb(255, 50, 50);
    display: flex;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
}

#salv{
    display: none;
}

#canc{
    display: none;
}

.edicao{
    display: none;
}

/* Mostrar/esconder na parte de edição */

.edicao.mostrar{
    display: flex;
}

.edicao.esconder{
    display: none;
}

.cont-atual.esconder{
    display: none;
}

.cont-atual.mostrar{
    display: block;
}

#edi.esconder{
    display: none;
}

#edi.mostrar{
    display: flex;
}

#exc.esconder{
    display: none;
}

#exc.mostrar{
    display: flex;
}

#salv.mostrar{
    display: none;
}

#canc{
    display: none;
}

/* fim */

>>>>>>> fd3326899ac54a2bc5c3e97cb0c80032e80bdbb0
/* ------------------------ */
